// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap.scss";





// Then add additional custom code here

.portfolio-card {

}


.portfolio-card-video{
    position: relative;
    display: inline-flex;
  background-color: #252525;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.video-additional-info{
    padding: 12px 24px;
    display: flex;
    position: relative;
    font-size: .875rem;
    color: #fff;
}

.video-data{
    margin-right: 16px;
}

.porfolio-card-header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  font-weight: 700 !important;
  background-color: var(--bs-dark-bg-subtle) !important;
}
.porfolio-card-subheader{
    color: var(--bs-secondary-color) !important;
    font-weight: 400 !important;
    width: 100% !important;
    display: block !important;
}

.lg-width-constraint{
  max-width: 45%;
}

.main-area-bg{
  background-color: var(--bs-secondary-bg) !important;
}

.expand:hover { transform:scale(1.05,1.05); transition: .3s ease-in-out; /*sexy speed of the transition*/ }

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.project-page{
  margin-left: auto;
    margin-right: auto;
  max-width: 1320px;
}

.project-details{
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  padding: 12px 24px;
  display: flex;
  position: relative;
  font-size: .875rem;
  color: #fff;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
}

